body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  padding-bottom: 20px;
}

.jumbotron {
  position: relative;
  direction: rtl;
}

.pager {
  font-size: 15px;
  padding-right: 0;
}

.interpretation {
  font-size: large;
  color: #187F99;
}
